.App {
  text-align: center;
  font-family: "Lucida Console", Fantasy;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.App-header {
  background-color: #0654f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


